/*======================GENERAL======================*/
body{
    max-width: 1400px;
    margin: auto;
    width: 95em;
}
h1, h2, h3, h4, p, a{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black;
}
h1{
    font-size: 1.4em;
    font-weight: 700;
}
h3{
    font-size: 1.4em;
    font-weight: 700;
}
h4{
    font-size: 1.1em;
    font-weight: 700;
}
p{
    font-size: 0.8em;
    font-weight: 500;
}

a{
    text-decoration: none;
}
/*==============================HEADER===========================*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

#logo{
    width: 61px;
    margin-top: 2px;
}

#main-nav{
    display: flex;
    flex-direction: row;
}

.link{
    width: 162px;
    border-top: 2px solid #fff;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 2.63rem 0;
}

.link:hover{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

/*==================FOOTER=====================*/
#footer-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f2f2f2;
}

.footer-nav{
    margin: 3rem 8rem 0 3rem;
}
.footer-list{
    margin-top: 1rem;
}
.footer-link{
    margin-top: 0.8rem;
    text-decoration: none;
}